
<h2>Edit resource</h2>
<form id='resourceForm' class='edit_resource' action='submit' method='POST'>
  Resource URL:
  <input type='text' name='url' value="{{data.url}}" required><br>
  Resource Title:
  <input type='text' name='title' value="{{data.resources_title}}" required><br>
  Resource Type:
  <select name='typeid' form='resourceForm' required>
    <option value="1">Tutorial</option>
    <option value="2">Article</option>
    <option value="3">Reference</option>
    <option value="4">Video</option>
    <option value="5">IDE</option>
  </select>
  <input  name='topic' value="{{data.topics_title}}">
  <input type='submit' value='submit'>
</form>
