
<h2>Enter a resource for {{topic}}</h2>
<form id='resourceForm' class='create_resource-form' action='submit' method='POST'>
  Resource URL:
  <input type='text' name='url' placeholder='enter URL'><br>
  Resource Title:
  <input type='text' name='title' placeholder='enter Title'><br>
  Resource Type:
  <select name='typeid' form='resourceForm'>
    <option value="1">Tutorial</option>
    <option value="2">Article</option>
    <option value="3">Reference</option>
    <option value="4">Video</option>
    <option value="5">IDE</option>
  </select>
  <input type='hidden' name='topic' value='{{topic}}'>
  <input type='submit' value='submit'>
</form>
