
<h2>Enter a review for {{endpoint}}</h2>
<form id='reviewForm' class='create_review-form' action='/create-review' method='POST'>
  Review:
  <input type='text' name='content' placeholder='Write review here...' required><br>
  Rating:
  <select name='rating' form='resourceForm' required>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type='hidden' name='userid' value='{{credentials.userid}}'>
  <input type='hidden' name='endpoint' value=`{{endpoint}}`>
  <input type='submit' value='submit'>
</form>
