
<h2>Welcome: Create new user account</h2>
<form id='loginForm' class='login-form' action='/login' method='POST'>

  First name:
  <input type='text' name='firstname' placeholder='Dan' required><br>
  Last name:
  <input type='text' name='lastname' placeholder='Sofer' required><br>
  Github handle:
  <input type='text' name='github' placeholder='DannyBoi' required><br>
  Email:
  <input type='text' name='email' placeholder='dan.sofer@fac.com' required><br>
  Username:
  <input type='text' name='username' placeholder='Username' required><br>
  Password:
  <input type='password' name='password1' placeholder='Password' required><br>
  Re-enter Password:
  <input type='password' name='password2' placeholder='Password' required><br>
  <input type='submit' value='submit'>
</form>
