<!-- below is test code to test our server -->

{{#each topics}}

<section>
  <h3>{{this.title}}</h3>
  <img src= {{this.image_path}}>
  <form action = {{this.endpoint}} method = "get">
    <input type="submit" value="Submit">
  </form>
</section>

{{/each}}
