<!-- below is test code to test our server -->
{{#each topics}}

  <section class="topics">
    <h3>{{this.title}}</h3>
    <img class="topic_image" src= "/static/images/{{this.image_path}}">
    <form action = {{this.endpoint}} method = "get">
      <input type="submit" value="Submit">
   </form>
  </section>

{{/each}}
