<!-- below is test code to test our server -->
<div class='topics'>
  {{#each topics}}
    <section class="topic" style="background-image:url(/static/images/{{this.image_path}})">
      <h3 class = "topic_title">{{this.title}}</h3>
      <form class="topic_btn" action = {{this.endpoint}} method="get">
        <input type="submit" value="Get Resources">
     </form>
    </section>
  {{/each}}
</div>
