body {
  background-color: #ddd;
  margin: 0;
}

.navbar {
  margin-bottom: 10px;
  background: #2C333A;
  padding: 1rem;
}

.navbar__list {
  margin: 0;
  padding: 0;
}

.navbar__listitem {
 list-style-type: none;
 display: inline-block;
 transition: color 1s ease;
}

.navbar__listitem:hover {
  color: #ff4422;
}

.navbar__listitem a {
  color: white;
  font-family: 'Lato', 'Futura', 'Didact Gothic', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}


.topics, .resources, .reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.topic, .resource, .review {
  font-family: 'Lato', 'Futura', 'Didact Gothic', sans-serif;
  display: block;
  height: 200px;
  width: 200px;
  margin: 20px;
  padding: 0px 20px;
  border-radius: 10px;
  background-color: #eee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topic_title, .resources_title {
  text-align: center;
  margin-top: -25px;
  margin-bottom: 15px;
}

.reviews_title {
  text-align: center;
}

.topic_btn input {
  display: block;
  margin: 180px auto;
}

.resource_btn {
  margin-bottom: 15px;
}

#loginForm {
  display: block;
  margin: 0 auto;
}
