body {
  background-color: #ddd;
}

.navbar {
  margin-bottom: 10px;
}
.topics, .resources, .reviews {
  font-family: 'Lato', 'Futura', 'Didact Gothic', sans-serif;
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 20px;
  padding: 0px 20px;
  border-radius: 10px;
  background-color: #eee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topic_title, .resources_title, .reviews_title {
  text-align: center;
  margin-top: -25px;
  margin-bottom: 15px;
}

.topic_btn input {
  display: block;
  margin: 180px auto;
}

.resource_btn {
  margin-bottom: 15px;
}

#loginForm {
  display: block;
  margin: 0 auto;
}
