<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/main.css" media="screen" title="no title">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAC Resources</title>
  </head>
  <body>
    {{{content}}}
  </body>
</html>
